body {
    font-family: sans-serif
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#container {
    background-color: #e0e0e0;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    padding: 16px;
    border-radius: 8px;
}

#start-game-button {
    width: 150px;
    height: 30px;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: green;
    color: white;
    border-radius: 8px;

}