body {
    font-family: sans-serif
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
}

#main-container {
    background-color: #e0e0e0;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    padding: 16px;
    border-radius: 8px;
}

input {
    display: block;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 20px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid grey;
}

#input-gamecode {
    text-transform: uppercase;
}

#join-lobby-button {
    width: 150px;
    height: 30px;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 8px;

}